.main-container {
    display: flex;
    text-transform: capitalize;
    justify-content: center;
}

.sub-container {
    align-content: center;
    background-color: rgb(169, 231, 172);
    width: 1000px;
}

.form {
    padding: 5% 0% 5% 10%;
    background-color: rgb(231, 169, 220);
}

.btn {
    color: white;
    width: 40%;
    height: 250%;
    text-transform: capitalize;
}

.add-btn {
    background-color: rgb(147, 208, 55);
}

.add-btn:hover {
    background-color: aliceblue;
}

.reset-btn {
    background-color: rgb(217, 4, 4);
}

.reset-btn:hover {
    background-color: aliceblue;
}

.btn-controller {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

/* 
.main-container {
    background-color: aquamarine;
    display: flex;
    align-content: center;
    flex-direction: column;
} */
.cus_row {
    align-content: center;
}