.btn {
    color: white;
    text-transform: capitalize;
}

.add-btn {
    background-color: rgb(147, 208, 55);
}

.add-btn:hover {
    background-color: aliceblue;
}

.reset-btn {
    background-color: rgb(217, 4, 4);
}

.reset-btn:hover {
    background-color: aliceblue;
}